<div id="barrio" class="band">
  <div class="container">
    <img src="http://maps.google.com/staticmap?center=40.714728,-73.998672&size=370x400&markers=40.714728,-73.998672,reda&key=40.714728,-73.998672" />
    <h3>Información sobre <br /><strong><%= @district.city.name %> » <%= @district.name %></strong></h3>
    <p>Más información de <strong><%= @district.name %></strong>, en la Wikipedia.</p>
  </div>
</div>
<div id="datos">
  <div class="container">
    <h3>Datos del barrio</h3>
    <dl>
      <dt>Edad de los vecinos</dt>
      <dd>3</dd>
    </dl>
    <dl>
      <dt>Cultural y deportivo</dt>
      <dd>3</dd>
    </dl>
    <dl>
      <dt>Riqueza</dt>
      <dd>3</dd>
    </dl>
  </div>
</div>
<hr />
<div id="como" class="container">
  <h4>Es como...</h4>
  <% @district.suggestions.each do |district| %>
  <div class="item span-12<%= ' city' if district.city == @district.city %>">
    <img src="http://maps.google.com/staticmap?center=40.714728,-73.998672&size=190x126&markers=40.714728,-73.998672,reda&key=40.714728,-73.998672" class="span-5" />
    <h5><%= district.name %>, <%= district.city.name %></h5>
    <small>“<%= district.name %> es el <%= @district.name %> de <%= district.city.name %>”</small>
  </div><!-- /item -->
  <% end %>
  <div id="search_box">
    <form>
    <label for="q">Busca un barrio de Wadus para ver si mola:</label>
    <%= text_field_tag :q, nil, :id => "search_field" %>
    </form>
  </div>
</div>


<!-- ficha de barrio -->
