<div id="barrio" class="band">
  <div class="container">
    <a class="image_link" target="_new" href="http://maps.google.es/maps?ll=<%= @district.coordinates%>&z=15"><img height="400px" width="400px" src="http://maps.google.com/staticmap?center=<%= @district.coordinates %>&size=400x400&zoom=14&markers=<%= @district.coordinates %>,red&key=<%= get_gmaps_api_key %>" /></a>
    <h3>Información sobre <br /><strong><%= link_to @district.city.name, city_path(@district.city) %> » <%= @district.name %></strong></h3>
    <!-- <p>Más información de <strong><%= @district.name %></strong>, en la Wikipedia.</p> -->
  </div>
</div>
<div id="datos">
  <div class="container">
    <h3>Datos del barrio</h3>

    <h5>Edad de los vecinos</h5>
    <div class="barbg">
      <div class="bar" style="width: <%= (@district.age_points + 10)*(490/500.0) %>px"></div>
    </div>
    <h5>Cultura y deporte</h5>
    <div class="barbg">
      <div class="bar" style="width: <%= (@district.culture_and_sport_points+10)*(490/500.0) %>px"></div>
    </div>
    <h5>Dinero</h5>
    <div class="barbg">
      <div class="bar" style="width: <%= (@district.wealth_points+10)*(490/500.0) %>px"></div>
    </div>

    <p><a href="#">¿de dónde salen estos datos?</a></p>

  </div>
</div>
<hr />
<div id="como" class="container">
  <h4>Es como...</h4>
  <% @district.suggestions.each do |district| %>
  <div class="item span-12<%= ' city' if district.city == @district.city %><%= cycle("", " last") -%>">
    <% link_to city_district_path(district.city, district), :class => "image_link" do %>
    <img src="http://maps.google.com/staticmap?center=<%= district.coordinates %>&size=190x126&zoom=14&markers=<%= district.coordinates %>,red&key=<%= get_gmaps_api_key %>" class="span-5" />
    <% end %>
    <h5><%= link_to district.name, city_district_path(district.city, district) %>, <%= link_to district.city.name, city_path(district.city) %></h5>
    <% unless district.city == @district.city %>
    <small>“<%= district.name %> es el <%= @district.name %> de <%= district.city.name %>”</small>
    <% end %>
  </div><!-- /item -->
  <% end %>
</div>

<%= render :partial => 'search' %>

<!-- ficha de barrio -->
