<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Monquartier</title>
    <%= javascript_include_tag :defaults, "jquery.autocomplete.min" %>
    <%= stylesheet_link_tag "jquery.autocomplete", "blueprint/screen", "application" %>
    <script type="text/javascript" src="http://use.typekit.com/mfy4xgk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key=<%= get_gmaps_api_key%>&sensor=false&hl=es" charset="utf-8"></script>
    <%= yield :head %>
  </head>
  <body>
    <div id="header" class="container">
      <a href="/"><span>Monuartier</span></a>
    </div><!-- /header -->

    <div id="content">
      <%= yield %>
    </div>
    <div id="footer" class="container">
      <p><a href="/que-es-monquartier">¿qué es Monquartier?</a> | <strong><a href="http://monquartier.tumblr.com"></a>blog</strong> | <a href="http://www.abredatos.es">¿abredatos?</a></p>
      <p>©2010 <strong>Terrible Troupe</strong> para el <a href="http://www.abredatos.es">Desafío Abredatos 2010</a></p>
    </div>

  </body>
</html>
